<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div class="mat-card" *ngIf="action != 'Delete'; else elseTemplate">
    <form class="formwidth" (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
        <mat-form-field >
            <mat-label>ID</mat-label>
           <!-- <input placeholder="id" matInput [disabled]  value="{{local_data.id}}"> -->
            <input type="number"  matInput  name="id" value="{{local_data.id}}" [(ngModel)]="local_data.id" [disabled]="isDisabled">
          </mat-form-field>
          <mat-form-field >
              <mat-label>NAME</mat-label>
              <!-- <input placeholder="name" matInput  ngModel="{{local_data.name}}"> -->
              <input type="text"  matInput   placeholder="name" name="name" [value]="local_data.name" [(ngModel)]="local_data.name">
            </mat-form-field>
  
            <mat-form-field >
              <mat-label>COLOR</mat-label>
              <!-- <input placeholder="color" matInput  ngModel="{{ local_data.color }}"> -->
              <input type="text"  matInput   placeholder="color" name="color" value="{{local_data.color}}" [(ngModel)]="local_data.color">
            </mat-form-field>
      </form>
    
    </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.id}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions mat-align="end">
    <div class="mat-card">
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
</div>