<div class="container">
        <!-- <mat-expansion-panel [expanded]='f_firstPanel' [disabled]='!f_firstPanel'> -->
            <div fxLayout fxLayoutAlign="end">
                <mat-form-field fxFlex="40%">
                  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>


            <mat-table [dataSource]="productObject" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>

                <!-- color Column -->
                <ng-container matColumnDef="color">
                    <mat-header-cell mat-sort-header="color" *matHeaderCellDef>Color</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.color}}</mat-cell>
                </ng-container>


                <!-- Action Column -->
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <button mat-raised-button color="primary" (click)='editItem(trainer)'> Edit</button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let trainer">
                        <button mat-raised-button color="warn" (click)='deleteItem(trainer)'> Delete </button>
                    </mat-cell>
                </ng-container> 


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

            <div class="fluid-container h4">
                <button mat-button (click)="addnewItem()"><b>ADD ITEM</b></button>
            </div>
</div>