<div class="container mat-elevation-z8">
    <!-- <div class="form">
        <mat-form-field floatPlaceholder="end" color="accent">
          <input matInput #filter placeholder="Search here">
        </mat-form-field>
      </div> -->
      <div fxLayout fxLayoutAlign="end">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

            <mat-table #table [dataSource]="productObject" matSort class="mat-cell">


                <!-- index Column -->
                <ng-container matColumnDef="index">
                    <mat-header-cell mat-sort-header="index" *matHeaderCellDef>index</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i= index">{{i}}</mat-cell>
                </ng-container>

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>

                <!-- color Column -->
                <ng-container matColumnDef="color">
                    <mat-header-cell mat-sort-header="color" *matHeaderCellDef>Color</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.color}}</mat-cell>
                </ng-container>


                <!-- Action Column -->
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button mat-raised-button color="primary" (click)="openDialog('Update',item)"> Edit</button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let item; let i= index">
                        <button mat-raised-button color="warn" (click)="deleteItem(item, i)"> Delete </button>
                    </mat-cell>
                </ng-container> 


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

            <div class="fluid-container h4">
                <button mat-button (click)="openDialog('Add',{})" color="primary"><b>ADD ITEM</b></button>
            </div>
            <div class="fluid-container h4">
                <button mat-button (click)="reset()"><b>RESET</b></button>
            </div>
</div>